<!doctype html>
{% extends "Base.html" %}
{% autoescape true %}
<html lang="en">
<body>
{% block b1 %}

    <br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

    <div>
        <ul class="nav navbar-nav">
        {% if current != "manage" %}
            <li><a href="/management" class="navbar-link">Manage</a></li>
        {% else %}
            <li><p class="navbar-text">Manage</p></li>
        {% endif %}

        {% if current != "create" %}
            <li><a href="/create_stream" class="navbar-link">Create</a></li>
        {% else %}
            <li><p class="navbar-text">Create</p></li>
        {% endif %}

        {% if current != "view" %}
            <li><a href="/view_all" class="navbar-link">View</a></li>
        {% else %}
            <li><p class="navbar-text">View</p></li>
        {% endif %}

        {% if current != "trending" %}
            <li><a href="/trending" class="navbar-link">Trending</a></li>
        {% else %}
            <li><p class="navbar-text">Trending</p></li>
        {% endif %}
        </ul>

    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
</body>

</html>
{% endautoescape %}